@import './components/_index.less';
@import './fonts/_index.less';
@import './layout/_index.less';
@import './utilities/_index.less';

.grid {
    display: grid;
    grid-template-rows: auto;
    
    &.grid-20 {
        .grid-col(20)
    }
    &.grid-15 {
        .grid-col(15)
    }
    &.grid-10 {
        .grid-col(10)
    }
    &.grid-5 {
        .grid-col(5)
    }
    &.grid-3 {
        .grid-col(3);
        &--btn2 {
            grid-template-columns : 40px auto 40px;
        }
    }
    &.grid-2 {
        .grid-col(2);
        &--btn {
            grid-template-columns : auto 60px;
        }
        &--stat {
            grid-template-columns : 40px auto
        }
    }
    &.grid-4 {
        .grid-col(4)
    }

    // .grid__item-span1col-1 {
    //     .grid__item-col(1, 1);
    // }
    // .grid__item-span1col-2 {
    //     .grid__item-col(2, 1);
    // }
    // .grid__item-span1col-3 {
    //     .grid__item-col(3, 1);
    // }
    // .grid__item-span1col-4 {
    //     .grid__item-col(4, 1);
    // }
    // .grid__item-span1col-5 {
    //     .grid__item-col(5, 1);
    // }
    // .grid__item-span1col-6 {
    //     .grid__item-col(6, 1);
    // }
    // .grid__item-span1col-7 {
    //     .grid__item-col(7, 1);
    // }
    // .grid__item-span2col-8 {
    //     .grid__item-col(8, 1);
    // }
    // .grid__item-span1col-9 {
    //     .grid__item-col(9, 1);
    // }
    // .grid__item-span1col-10 {
    //     .grid__item-col(10, 1);
    // }
    // .grid__item-span1col-11 {
    //     .grid__item-col(11, 1);
    // }
    // .grid__item-span1col-12 {
    //     .grid__item-col(12, 1);
    // }
    // .grid__item-span1col-13 {
    //     .grid__item-col(13, 1);
    // }
    // .grid__item-span1col-14 {
    //     .grid__item-col(14, 1);
    // }
    // .grid__item-span1col-15 {
    //     .grid__item-col(15, 1);
    // }
    // .grid__item-span1col-16 {
    //     .grid__item-col(16, 1);
    // }
    // .grid__item-span1col-17 {
    //     .grid__item-col(17, 1);
    // }
    // .grid__item-span1col-18 {
    //     .grid__item-col(18, 1);
    // }
    // .grid__item-span1col-19 {
    //     .grid__item-col(19, 1);
    // }
    // .grid__item-span1col-20 {
    //     .grid__item-col(20, 1);
    // }

    .grid__item-span4col-2 {
        .grid__item-col(2,4);
    }
    .grid__item-span3col-3 {
        .grid__item-col(3,3);
    }
    .grid__item-span2col-1 {
        .grid__item-col(1,2);
    }

    @height-small : 50px;
    @height-medium : 70px;
    @height-big : 100px;

    &--size-small {
        height : @height-small;
    }
    &--size-medium {
        height : @height-medium;
    }
    &--size-big {
        height : @height-big;
    }



    &--gap-small {
        gap : 5px 5px;
    }
    &--gap-medium {
        gap : 10px 10px;
    }
    &-gap-big {
        gap : 15px 15px;
    }


    .grid__item--pos-center {
        text-align: center;
        padding-top: (@height-medium - @fontSizeLarge) / 2;
    }

    &--margin-small {
        margin-top : 20px;
    }

    .grid__item--padding-small {
        padding-top: 12px;
        padding-left: 10%;
    }

    .grid__item--style-logo {
        font-family: 'Caveat', cursive;
        font-size: 34px;
        color : black;
        font-weight: bold;
    }

}



.text-center {
    text-align: center;
}



.bgcolor-primary {
    .bgcolor(@primary);
}
.bgcolor-secondary {
    .bgcolor(@secondary);
}
.bgcolor-warning {
    .bgcolor(@warning);
}

.border {
    border : solid black 1px;
}

@fontSizeLarge : 30px;
@fontSizeMedium : 20px;
.text-large {
    font-size: @fontSizeLarge;
    // padding : 0px;
}
.text-medium {
    font-size: @fontSizeMedium;
}

.list {
    &--style-none {
        list-style-type: none;
    }

    .list__item-display-inline-block {
        display: inline-block;
    }
    &--style-text {
        font-family: 'Archivo', sans-serif;
    }

    
}



.height-small {
    height: 20px;
} 

.height-medium {
    height: 30px;
}

.height-big {
    height: 40px;
}

.height-xl {
    height: 50px;
}
