@import './todos.less';

header {
    background-color :gray;

    // .header__logo {
    //   display: inline-block;
    //   width: auto; 
    // }

    // .header__name {
    //     display: inline-block;
    //     width: auto; 
    // }
}   