@primaryColor : #283350;
@secondaryColor : #F93900;
@standardColor : #FFB500;

.todos {
    // background-color: gray;
    margin : 10px 25%;

    .todos__title {
        font-family: 'Caveat', cursive;
        font-size: 34px;
        color : @primaryColor;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .todos__bar {
        height: 10px;
        width : 100%;
        border: cadetblue solid 1px;

        .todos__bar-fill {
            background-color: darkblue;
            height : 100%;
        }
    }

    .todos__status {
        font-family: 'Archivo', sans-serif;
        color: @primaryColor;
    }

    .todos__add {
        width: 100%;
        margin-bottom: 10px;

        .todos__addbtn {
            color : @primaryColor;
            background-color: @secondaryColor;

            &:hover {
                background-color: @standardColor;
            }
        }
    }

    .todos__list {
        margin-bottom: 10px;

        .todos__item {

            .todos__task {
                color: @primaryColor;
                font-family: 'Archivo', sans-serif;
            }

            .todos__delete, .todos__update {
                color: @primaryColor;
                &:hover {
                    color: @secondaryColor;
                }
            }
        }
    }

    .todos__filter {
        button {
            background-color: @standardColor;
            color: @primaryColor;

            &:hover {
                background-color: @secondaryColor;
            }
        }
        .SHOW_ALL, .SHOW_COMPLETED, .SHOW_PENDING {
            background-color: @secondaryColor;
        }
    }
}