// //============= Color Scheme ==================
/**examples based on the official Less styleguide */
//=============
//Color Name: #aaa
// @primary                      : #f2f2f2;
// @primary-e0e0e0               : #f5f3f3;
// @text-414C5E                  : #414C5E;
// @white                        : #fff;
// @purple-859EFF                : #859EFF;
// @grey-778195                  : #778195;
// @grey-c5cad6a4                : #989ca8e5;

@primary : blue;
@secondary : yellow;
@warning : red;