@import './_globals.less';


// .grid-row(@row) {
//     grid-template-columns: auto;
// }

.grid-col(@col) {
    grid-template-columns: repeat(@col,auto);
}


.grid-col-row-gap {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.grid__item-col(@start, @span) {
    grid-column: @start / span @span;
}

.grid__item-row(@start, @span) {
    grid-row: @start / span @span;
}

.bgcolor(@color) {
    background-color: @color;
}

.color(@color) {
    color : @color;
}